ejerciciosclase/ejr1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ejr1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ciudad" type="xs:string"/>
        <xs:element name="fecha-de-nacimiento" type="xs:date"/>
        <xs:element name="hora" type="xs:time"/>
        <xs:element name="nota" type="xs:float"/>
        <xs:element name="apto" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>