xsd/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ejercicio2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="puertaCerrada" type="xs:string" default="falso"/>
        <xs:element name="ventanaAbierta" type="xs:string" default="verdadero"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>